/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}

/* #description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
} */

/* #infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
} */

.pac-card {
  margin: 20px 10px 0 0;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  max-width: 80%;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  max-width: 80%;
}

#pac-input:focus {
  outline: none;
}



#title {
  color: #fff;
  background-color: tomato;
  font-size: 25px;
  padding: 6px 12px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 5px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: 100;
}

footer.page-footer {
  background-color: tomato;
  font-family: 'Pompiere', cursive;
}

footer li {
  border: none;
}

main {
    flex: 1 0 auto;
}

.align-right {
  text-align: right;
}

.light, .page-footer .footer-copyright {
  text-align: center;
}
.button-collapse {
  background-color: tomato;
  color: white;
  position: absolute;
  bottom: 25px;
  left: 15px;
  opacity: .8;
}

.button-collapse:hover {
  opacity: 1;
  background-color: tomato;
}

#slide-out {
  background-color: #094464;
  color: white;
  text-align: center;
  border-left: 5px solid white;
}

#inner-button {
  display: none;
}

#slide-out li {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
}

@media (max-width: 375px){
  #slide-out {
    width: 375px !important;
    position: absolute;
    top: 300px;
    border-left: none;
    border-top: 5px solid white;
  }

  #inner-button {
      position: relative;
      bottom: 230px;
      left: -140px;
      border: 2px solid white;
      display: inline-block;
  }

  footer {
    border-top: 5px solid white;
  }
}

ul:not(.browser-default)>li {
  border: 1px solid white;
  margin: 10px;
  border-radius: 4px;
  padding: 10px;
}

#sidenav-overlay {
  opacity: 0 !important;
}

#sidebar-header {
  font-family: 'Pacifico', cursive;
  border: none;
}
